@using Microsoft.AspNetCore.Identity
@using MeshiRoulette.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a id="username" class="browse item">@((await UserManager.GetUserAsync(User)).ScreenName)</a>
}
else
{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.PathBase + request.Path + request.QueryString;
    <a class="item" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@returnUrl">Twitterでログイン</a>
}
