#header {
    border-radius: 0;
}

.roulette-description {
    white-space: pre-line;
}

.place-add-container {
    text-align: center;
    margin-top: 1em;
}

#tags-container, #tag-cond-container {
    margin-bottom: 1em;
}

#roulette-container {
    text-align: center;
}

#tag-cond-container .field {
    display: inline-block;
    padding-right: 1em;
}

.edit.breadcrumb {
    margin-bottom: 1em !important;
}
