#header {
    border-radius: 0;
}

.roulette-description {
    white-space: pre-line;
}

.place-add-container {
    text-align: center;
    margin-top: 1em;
}

#tags-container {
    margin-bottom: 1em;
}

#roulette-container {
    text-align: center;
}
