$primary: #fc8d32;

@import 'bootstrap';

.pt-4rem {
  padding-top: 4rem;
}

.pb-4rem {
  padding-bottom: 4rem;
}

.py-4rem {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

$service-colors: (
  "foursquare": #ffa71c,
  "twitter": #1da1f2
);

@each $svc, $value in $service-colors {
  .btn-svc-#{$svc} {
    @include button-outline-variant($value, $light);
  }
}
